body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#191818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background:#191818;
}


@font-face{
  font-family: 'Avenir Roman';
  src: local('Avenir Roman'), url(./fonts/Avenir\ Roman.otf) format('truetype');
}

@font-face{
  font-family: 'AvenirLTSd-Black';
  src: local('AvenirLTStd-Black'), url(./fonts/AvenirLTStd-Black.otf) format('truetype');
}

@font-face{
  font-family: 'AvenirLTStd-Book';
  src: local('AvenirLTStd-Book'), url(./fonts/AvenirLTStd-Book.otf) format('truetype');
}

@font-face{
  font-family: 'AvenirLTStd-Roman';
  src: local('AvenirLTStd-Roman'), url(./fonts/AvenirLTStd-Roman.otf) format('truetype');
}